.footer {
  position: relative;
  width: 100%;
  /* min-height: calc(100vh); */
}

.footer .social {
  padding: 10px 0;
  background-color: rgb(1, 40, 58);
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  color: #d2e2f1;
}

.footer .copyright {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
