.navbars {
  padding: 20px;
  background-color: rgb(13, 35, 48) !important;
}

.NavIcon {
  margin-right: 10%;
  align-items: center;
}
.Active {
  color: rgb(156, 236, 136) !important;
  border: 2px solid white;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
@media (max-width: 991px) {
  .NavIcon {
    align-items: unset;
    margin-left: 10%;
    margin-right: unset;
  }
}
